<a href="/master">List all movies</a>

<form action="/create-movie-2" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="number" name="year" placeholder="year">
    <input type="number" name="rate" placeholder="rate">
    <input type="text" name="duration" placeholder="duration">

    <select name="director" id="">
        {{#each directors}}
            <option value="{{_id}}">{{name}}</option>
        {{/each }}
    </select>

    <input type="submit" value="Add a new movie">

    {{!-- genre: [String] --}}
</form>