<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Master detail</title>
    
    <style>
        body, html {
            margin: 0;
            padding: 0;
        }
        a {
            color: black;
        }

        .small {
            font-size: 12px;
            color: red;
        }

        li {
            margin-bottom: 10px;
        }

        .options {
            display: flex;
            list-style: none;
            background: silver;
            padding: 20px;
            padding-bottom: 10px;
        }
        .options li {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    
    {{{body}}}

</body>
</html>