<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        nav {
            margin-bottom: 30px;
        }

    </style>
</head>
<body>
    <h1>Signup form</h1>
    <nav>
        <a href="login">Login</a>
    </nav>
    <form action="/signup" method="POST">
        <input type="text" name="username" value="Manu">
        <input type="password" name="password" value="666">

        <input type="submit" value="Signup">
    </form>
</body>
</html>